mixin product(product)
    .product
        .product__image-wrapper
            img.product__image(src="http://vetq.loc/wp-content/uploads/2023/03/vetatsef_200-560x640.jpg" alt=product.title)
            .product__image-glass
                .product__image-glass-content
                    +button("/product.html", 'Подробнее')
        .product__content
            h4.product__title=product.title
            p.product__description=product.description
            ul.product__animals
                li.product__animal 
                    a.product__animal-link(href="/catalog.html")
                        img.product__animal-icon(src=require("@img/animals/птица.svg") alt="")   
                li.product__animal 
                    a.product__animal-link(href="/catalog.html")
                        img.product__animal-icon(src=require("@img/animals/корова.svg") alt="")   

